<html lang="en">
{% extends "layouts.html"  %}



{% block content %}




<head>
	<title>Table V05</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/table/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
     <link rel="stylesheet" href="{{ url_for('static', filename='vendor/table/animate/animate.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/table/select2/select2.min.css') }}">

<!--===============================================================================================-->
    <link rel="stylesheet" href="{{ url_for('static', filename="vendor/table/perfect-scrollbar/perfect-scrollbar.css") }}">

<!--===============================================================================================-->
    <link rel="stylesheet" href="{{ url_for('static', filename="css/table/util.css") }}">


    <link rel="stylesheet" href="{{ url_for('static', filename="css/table/main.css") }}">

<!--===============================================================================================-->
</head>
<body>

<h2>Table Decrypted</h2>
<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver1">
					<div class="">
                        <table border="1" cellpadding="5" cellspacing="5">
                        <th class="cell100 column1"><b><Employees/b></th>
                        <th class="cell100 column2"><b>Category</b></th>
                        <th class="cell100 column3"><b>Where</b></th>
                        <th class="cell100 column4"><b>When</b></th>
                        <th class="cell100 column5"><b>Who</b></th>
                        <th class="cell100 column6"><b>Are you a victim?</b></th>
                         <th class="cell100 column6"><b>Maintain Anonymity</b></th>
                            {% for row in data %}
                                <tr class="row100 head">
                                {% for d in row %}
                                    <td class="cell100 column1">{{ d }}</td>
                                {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>


<!--===============================================================================================-->
     <script src="{{url_for('static', filename='vendor/table/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
    <script src="{{url_for('static', filename='vendor/table/js/popper.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/table/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
     <script src="{{url_for('static', filename='vendor/table/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
    <script src="{{url_for('static', filename='vendor/table/perfect-scrollbar/perfect-scrollbar.min.js')}}"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			});

			$(this).on('ps-x-reach-start', function(){
				$(this).parent().find('.table100-firstcol').removeClass('shadow-table100-firstcol');
			});

			$(this).on('ps-scroll-x', function(){
				$(this).parent().find('.table100-firstcol').addClass('shadow-table100-firstcol');
			});

		});




	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>


{% endblock %}
</html>
