{% extends "layouts.html"  %}



{% block content %}

  <div class="container">
    <div class="jumbotron mt-5  mb-5">
      <h1 class="display-4">File a Complaint</h1>
      <p class="lead">We make your life safer!</p>
    </div>
  <form method="POST" action="" class="mt-5">
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="name" placeholder="Name">
      </div>
    </div>

    <div class="form-group row">
      <label for="category" class="col-sm-2 col-form-label">Category</label>
      <div class="col-sm-10">
        <select class="custom-select" name='category'>
          <option selected>Category</option>
          <option value="Harassment">Harassment</option>
          <option value="Bullying">Bullying</option>
          <option value="Conflicts">Conflicts</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="where" class="col-sm-2 col-form-label">Where</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Where" name='where_inc'>
      </div>
    </div>

    <div class="form-group row">
      <label for="when" class="col-sm-2 col-form-label">When</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="When" name='when_inc'>
      </div>
    </div>

    <div class="form-group row">
      <label for="who" class="col-sm-2 col-form-label">Who is/are involved?</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Who" name='who'>
      </div>
    </div>

    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="victim" name='victim'>
      <label class="custom-control-label" for="victim">Are you the victim?</label>
    </div>

    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="anonymous" name='ananymous'>
      <label class="custom-control-label" for="anonymous">Stay anonymous?</label>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <input type = "submit">
      </div>
    </div>
  </form>
</div>
  {% endblock %}
